.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem;
  min-height: 100vh;
  max-width: 800px; 
  color:white;
}

.about-me {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  text-align: left;
  width: 100%; 
  color:white;
}
